.section-about {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
}

.section-about__img-line {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 5;
}

.title__about {
  margin-bottom: 8%;
  @include phones {
    margin-bottom: 20%;
  }
}

.section-about__card {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  width: 100%;
  height: 100%;
  max-width: 85%;
  max-height: 370px;
  padding: 0 11%;
  border-radius: 50px;
  box-shadow: 20px 23px 42px 0 rgba(0, 0, 0, 0.07), -11px -10px 44px 0 #ffffff;
  background-color: #ffffff;

  @include tablets {
    max-height: 420px;
    padding: 40px;
  }
  @include phones-xs {
    padding: 38px;
    line-height: 1.2;
  }
}

.card__text {
  color: $text;
  font-family: 'SFProDisplay';
  font-size: 24px;
  font-weight: 400;
  letter-spacing: 2px;
  line-height: 1.5;

  &--bold {
    font-weight: 600;
  }

  @include tablets {
    font-size: 20px;
  }
}