.case__card {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 45px;
  border-radius: 70px;
  box-shadow: 0 10px 70px 0 rgba(98, 172, 193, 0.15);
  background-color: $white;
  color: $text;
  font-family: 'SFProDisplay';
  text-align: center;

  @include phones {
    padding: 25px;
  }
}

.case__logo {
  margin-bottom: 30px;
}

.case__logo_link {
  width: 100%;
  height: 100%;
  max-width: 90px;

  @include phones {
    max-width: 50px;
  }
}

.case__title {
  font-size: 30px;
  font-weight: 400;
  letter-spacing: 2.5px;
  margin-bottom: 25px;

  @include phones {
    font-size: 26px;
  }
}

.case__descr {
  font-size: 20px;
  letter-spacing: 1.67px;
  margin-bottom: 25px;
  @include phones {
    font-size: 16px;
  }
}

.case__work-type {
  line-height: 1.33;
  letter-spacing: 1.5px;
  font-size: 18px;
  font-weight: 200;
  opacity: 0.5;
  margin-bottom: 35px;

  @include phones {
    font-size: 14px;
  }
}

.case-block__item {
  margin-bottom: 40px;
}

.case__photo {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  width: 95%;
  height: 450px;
  border-radius: 10px;
  border: dotted 1px $text;
  margin-bottom: 40px;

  &_text {
    font-size: 18px;
    letter-spacing: 1.5px;
    margin-bottom: 20px;
    text-align: center;
  }
  &_size {
    font-weight: 600;
  }

  @include phones {
    height: 250px;
  }
}

.case__link {
  font-size: 20px;
  letter-spacing: 1.67px;
  text-decoration: underline;
  color: $text;
  margin-bottom: 37px;
}