.section-cases {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 120px 20px 0;

  @include phones {
    padding: 120px 10px 0;
  }
}

.title.title__cases {
  margin-bottom: 40px;
}
.cases-tags__list {
  display: flex;
  flex-direction: column;
  position: fixed;
  top: 20%;
  left: 3%;

  @include tablets {
    display: none;
  }
}

.cases-tags__item {
  max-height: 37px;
  max-width: 152px;
  padding: 13px 23px;
  border-radius: 100px;
  background-color: $field;
  display: block;
  justify-content: center;
  align-items: center;
  margin-bottom: 18%;
  outline:none;

  &--active {
    background-color: $button;
  }
}

.cases-tags__link {
  color: $text;
  font-family: AvenirNext;
  font-size: 12px;
  font-weight: 300;
  letter-spacing: 1.8px;
  text-transform: uppercase;
}

.case-block__list {
  max-width: 85%;
  width: 100%;
  @include phones {
    max-width: 95%;
  }
}
.button__case {
  width: 415px;

  @include phones {
    width: 315px;
  }
  @include phones-xs {
    width: 230px;
  }
}