.case__card {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 45px;
  border-radius: 70px;
  box-shadow: 20px 23px 42px 0 rgba(0, 0, 0, 0.07), -11px -10px 44px 0 #ffffff;
  background-color: $white;
  color: $text;
  font-family: 'SFProDisplay';
  text-align: center;

  @include phones {
    padding: 25px;
  }
}

.case__logo {
  margin-bottom: 30px;
  display: flex;
  justify-content: center;
}

.case__logo_link {
  width: 100%;
  height: 100%;
  max-width: 200px;
  min-width: 140px;

  @include phones {
    max-width: 50px;
  }
}

.case__title {
  font-size: 30px;
  font-weight: 400;
  letter-spacing: 2.5px;
  margin-bottom: 25px;

  @include phones {
    font-size: 26px;
  }
}

.case__descr {
  font-size: 20px;
  letter-spacing: 1.67px;
  margin-bottom: 25px;
  @include phones {
    font-size: 16px;
  }
}

.case__work-type {
  line-height: 1.33;
  letter-spacing: 1.5px;
  font-size: 18px;
  font-weight: 200;
  opacity: 0.5;

  @include phones {
    font-size: 14px;
  }
}

.case-block__item {
  margin-bottom: 40px;
}

.case__photo {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  max-width: 650px;
  height: 650px;

  @include phones {
    height: 250px;
  }
}

.case__photo-image {
  width: 100%;
  height: 100%;
  object-fit: contain;
}

.case__link {
  font-size: 20px;
  letter-spacing: 1.67px;
  text-decoration: underline;
  color: $text;
  margin-bottom: 37px;
}