.section-clients {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.title__clients {
  margin-bottom: 123px;
}
.clients-image__pic {
  width: 100%;
  height: 100%;
  max-width: 635px;

  @include tablets {
    max-width: 525px;
  }
  @include phones {
    max-width: 325px;
  }
}