.section-competence {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
}

.title__competence {
  margin-bottom: 8%;
  
  @include phones {
    margin-bottom: 10%;
  }
}

.competences {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
  max-width: 940px;
  max-height: 418px;

  @include phones {
    flex-direction: column;
    max-height: auto;
  }
}

.competences__block {
  width: 100%;
  height: 100%;
  max-width: 290px;
  box-shadow: 0 7px 35px 0 rgba(98, 172, 193, 0.15);
  background-color: #ffffff;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 4%;
  margin-right: 5%;

  &:last-child{
    margin-right: 0;
  }

  &--design {
    border-radius: 70px 30px 30px 70px;
    @include phones {
      border-radius: 30px;
    }
  }
  &--visual {
    border-radius: 30px;
  }
  &--consulting {
    border-radius: 30px 70px 70px 30px;
    @include phones {
      border-radius: 30px;
    }
  }

  @include tablets {
    max-width: 220px;
    max-height: 350px;
    margin-right: 2%;
  }
  @include phones {
    max-width: 85%;
    max-height: 40%;
    margin-bottom: 5%;
    margin-right: 0;
  }
}

.competences__image {
  margin-bottom: 50%;
  &:last-child{
    margin-bottom: 0;
  }

  @include phones {
    margin-bottom: 4%;
  }
}

.competences__pic {
  width: 100%;
  height: 100%;
  max-width: 80px;
  max-height: 91px;

  @include phones {
    max-width: 50px;
    max-height: 61px;
  }
}

.competences__text {
  font-family: 'SFProDisplay';
  font-size: 18px;
  font-weight: 100;
  letter-spacing: 1.5px;
  color: $text;
  text-align: center;
}
