.section-contacts {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.title__contacts {
  margin-bottom: 28px;
}

.form-wrapper {
  width: 100%;
  height: 100%;
  max-width: 542px;
  max-height: 455px;
  border-radius: 70px;
  box-shadow: 0 10px 70px 0 rgba(98, 172, 193, 0.15);
  background-color: $white;
  padding: 50px 65px;

  @include tablets {
    max-width: 75%;
  }
  @include phones {
    max-width: 85%;
    max-height: 425px;
    border-radius: 50px;
    padding: 45px 38px;
  }
}


.form__content {
  display: flex;
  flex-direction: column;
  line-height: 1.5;
  letter-spacing: 2px;
  color: rgba(0, 0, 0, 0.3);
}

.form__input {
  border-radius: 12px;
  background-color: $field;
  outline: transparent;
  border: none;
  padding: 3%;
}

.form__block-input {
  height: 52px;
  margin-bottom: 20px;
}
.form__input--select {
  height: 52px;
  margin-bottom: 20px;
  color: rgba(0, 0, 0, 0.4);
}

.form__textarea {
  height: 106px;
  resize: none;
  margin-bottom: 30px;
}
