.section-contacts {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.title__contacts {
  margin-bottom: 28px;
}

.form-wrapper {
  width: 100%;
  height: 100%;
  max-width: 542px;
  max-height: 455px;
  border-radius: 70px;
  box-shadow: 20px 23px 42px 0 rgba(0, 0, 0, 0.07), -11px -10px 44px 0 #ffffff;
  background-color: $white;
  padding: 50px 65px;

  @include tablets {
    max-width: 75%;
  }
  @include phones {
    max-width: 85%;
    max-height: 425px;
    border-radius: 50px;
    padding: 45px 38px;
  }
}


.form__content {
  display: flex;
  flex-direction: column;
  line-height: 1.5;
  letter-spacing: 2px;
  color: rgba(0, 0, 0, 0.3);
  position: relative;
  overflow: hidden;
  border-radius: 5px;
}

.form__input {
  position: relative;
  border-radius: 5px;
  background-color: $field;
  outline: transparent;
  border: none;
  padding: 3%;
}

.form__block-input {
  height: 52px;
  margin-bottom: 20px;
}
.form__input--select {
  height: 52px;
  margin-bottom: 20px;
  color: rgba(0, 0, 0, 0.4);
  width: 100%;
}

.form__textarea {
  height: 106px;
  resize: none;
  margin-bottom: 30px;
}

.select-wrapper {
  display: flex;
  position: relative;
  width: 107%;
}

.triangle-down {
  display: flex;
  position: absolute;
  top: 30%;
  right: 10%;
  height: 0;
  border-left: 5px solid transparent;
	border-right: 5px solid transparent;
  border-top: 6px solid $text;
  border-bottom-width: 0;
}