.header {
  display: flex;
  width: 100%;
  position: fixed;
  content: '';
  top: 0;
  left: 0;
  z-index: 2;
  background-color: $white;
  font-family: 'AvenirNext';
  box-shadow: 20px 23px 42px 0 rgba(0, 0, 0, 0.07), -11px -10px 44px 0 #ffffff;
}

.header-block {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 25px 53px;
}

.header-logo__img {
  width: 100%;
  height: 100%;
  max-width: 19px;
}

.header-block__right {
  display: flex;
  // justify-content: space-between;
}

.language-block {
  display: flex;
  align-items: center;
  cursor: pointer;
}

.language-block__text {
  margin-right: 5px;
}

.langButton {
  &:hover {
    color: $main;
  }
}