.section-main {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  min-height: rem(550px);

  &:after {
    position: absolute;
    content: '';
    top: 0;
    right: 0;
    width: 100%;
    height: 100%;
    max-width: 25px;
    max-height: 385px;
    background-image: url('../img/hoyd-line.png');
    background-repeat: no-repeat;
    z-index: 5;
  }
}

.section-main__image {
  max-width: 42%;
  margin-bottom: 12%;

  @include tablets {
    max-width: 45%;
    margin-bottom: 10%;
  }
  @include phones {
    max-width: 65%;
    margin-bottom: 12%;
  }
}

.section-main__banner {
  width: 100%;
  height: 100%;
}

.section-main__reinvent {
  font-family: 'bungee hairline';
  font-weight: 600;
  letter-spacing: 6px;
  font-size: 24px;
  color: $text;
  text-align: center;

  @include tablets {
    font-size: 18px;
    line-height: 1.5;
  }
  @include phones {
    font-size: 12px;
    padding: 0 10%;
  }
}