.work__tag {
  max-width: 180px;
  max-height: 52px;
  min-height: 38px;
  padding: 13px 23px;
  border-radius: 100px;
  box-shadow: 20px 23px 42px 0 rgba(0, 0, 0, 0.07), -11px -10px 44px 0 #ffffff;
  background-color: $white;
  display: flex;
  justify-content: center;
  align-items: center;

  font-family: 'AvenirNext_UltraLight';
  font-size: 20px;
  font-weight: 200;
  letter-spacing: 1px;

  @include phones {
    padding: 10px 20px;
    font-size: 16px;
  }
}
