.title {
  font-family: 'bungee hairline';
  font-size: 35px;
  font-weight: 700;
  letter-spacing: 6px;
  color: $black;
  text-transform: uppercase;
  text-align: center;

  @include tablets {
    font-size: 32px;
  }
  @include phones {
    font-size: 21px;
  }
}
