.section-work {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
}

.title__works {
  margin-bottom: 13%;
  @include phones {
    padding: 0px 10%;
  }
}

.work-block {
  width: 100%;
  height: 100%;
  max-width: 85%;
  max-height: 450px;
  display: flex;

  &__center {
    margin-bottom: 40px;
  }

  @include tablets {
    max-width: 85%;
  }
  @include phones {
    flex-direction: column;
    align-items: center;
  }
}

.work-image {
  width: 55%;

  @include tablets {
    width: 50%;
    max-height: 80%;
  }
  @include phones {
    width: 80%;
    margin-right: 0;
    margin-bottom: 15%;
  }
}
.work-image__pic {
  width: 100%;
  height: 100%;
  margin-right: 80px;

  &--center {
    width: 100%;
    height: 100%;
    max-width: 420px;
    margin-right: 0;
    margin-left: 80px;

    @include tablets {
      margin-left: 15px;
    }
    @include phones {
      margin-left: 0;
      order: 1;
    }
  }

  @include tablets {
    margin-right: 30px;
  }
}

.section-work__back {
  position: relative;
  margin-bottom: 10%;
}

.section-work__back-img {
  display: flex;
  position: absolute;
  bottom: 0;

  &--hoyd {
    left: 0;
    transform: translate(-20%, 90%);
  }
  &--design {
    right: 0;
    transform: translate(20%, 50%);
  }
  @include tablets {
    width: 70%;
    left: 15%;
  }
  @include phones {
    top: 5%;
  }
}

// descr block
.work-descr {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  width: 55%;

  &__left{
    align-items: flex-start;
    @include tablets {
      margin-bottom: 10%;
    }
    @include phones {
      order: 2;
      align-items: center;
    }
  }

  @include phones {
    width: 90%;
    align-items: center;
  }
}

.work-descr__title {
  font-family: 'AvenirNext';
  font-size: 24px;
  font-weight: 600;
  line-height: 0.78;
  letter-spacing: 10px;
  color: $text;
  text-transform: uppercase;
  margin-bottom: 60px;

  @include tablets {
    font-size: 20px;
    margin-bottom: 40px;
  }
  @include phones {
    font-size: 18px;
    margin-bottom: 20px;
  }
}
.work-descr__link {
  font-family: 'AvenirNext_UltraLight';
  font-size: 20px;
  font-weight: 600;
  line-height: 1.4;
  color: $main;
  margin-bottom: 32px;
}

.work-descr__tags {
  display: flex;
  flex-wrap: wrap;
  margin-bottom: 15%;
}
.work__tag--space {
  margin-right: 20px;
  @include tablets {
    margin-right: 10px;
  }
}
.work-descr__text {
  font-family: 'AvenirNext_UltraLight';
  font-size: 20px;
  letter-spacing: 1px;
  color: $text;
  margin-bottom: 7%;
  max-width: 448px;

  &--right{
    text-align: end;
  }

  @include tablets {
    font-size: 18px;
  }
  @include phones {
    font-size: 14px;
  }
}

.portfolio-link {
  display: block;
  text-align: center;
  font-family: 'AvenirNext';
  line-height: 1.17;
  letter-spacing: 6.67px;
  font-size: 20px;
  font-weight: 600;
  color: $main;
  text-decoration: underline;

  @include phones {
    font-size: 20px;
    margin: 30% 10% 0;
  }
}