@font-face {
  font-family: 'bungee hairline';
  src: local('bungee hairline'),
      url('../../fonts/bungee_hairline_regular.woff2') format('woff2'),
      url('../../fonts/bungee_hairline_regular.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'SFProDisplay';
  src: url('../../fonts/SFProDisplay-Thin.woff2') format('woff2'),
       url('../../fonts/SFProDisplay-Thin.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'AvenirNext';
  src: url('../../fonts/AvenirNextCyr-Regular.woff2') format('woff2'),
       url('../../fonts/AvenirNextCyr-Regular.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'AvenirNext_UltraLight';
  src: url('../../fonts/AvenirNextCyr-UltraLight.woff2') format('woff2'),
       url('../../fonts/AvenirNextCyr-UltraLight.woff') format('woff');
  font-weight: 200;
  font-style: normal;
}
